*.pyc
ds
*.DS_Store
*.coverage
.appengine_data
frontend/node_modules
/.idea/
sh.exe.stackdump
*.orig
*.komodoproject
nbproject
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*~
npm-debug.log
*.sublime-project
*.sublime-workspace
console.js
console.py